doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title 國立中正大學  選課系統  科目衝堂
  link(href='../assets2/css/styles.css' rel='stylesheet')
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js' crossorigin='anonymous')
  link(rel='shortcut icon' href='../assets/ico/favicon.png')
  link(rel='apple-touch-icon-precomposed' sizes='144x144' href='../assets/ico/apple-touch-icon-144-precomposed.png')
  link(rel='apple-touch-icon-precomposed' sizes='114x114' href='../assets/ico/apple-touch-icon-114-precomposed.png')
  link(rel='apple-touch-icon-precomposed' sizes='72x72' href='../assets/ico/apple-touch-icon-72-precomposed.png')
  link(rel='apple-touch-icon-precomposed' href='../assets/ico/apple-touch-icon-57-precomposed.png')
  style.
    body{
    background-image: url('../images/ccu_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
  a.navbar-brand(href='../loginSuccess/') 國立中正大學  選課系統
  button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0(href='#')
    i.fas.fa-bars
  // Navbar
  ul.navbar-nav.ml-auto.ml-md-0
    li.nav-item.dropdown
      a#userDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        i.fas.fa-user.fa-fw 
        |#{user.Student_Name}
      .dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
        a.dropdown-item(href='#') 設定
        .dropdown-divider
        a.dropdown-item(href='../logout') 登出
  font(color='white') #{user.Student_ID}
#layoutSidenav
  #layoutSidenav_nav
    nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
      .sb-sidenav-menu
        .nav
          .sb-sidenav-menu-heading 選課系統公告
          a.nav-link(href='../loginSuccess/')
            .sb-nav-link-icon
              i.bi.bi-megaphone
            |系統公告
          .sb-sidenav-menu-heading 選課系統相關
          a.nav-link(href='../additional_selection/')
            .sb-nav-link-icon
              i.bi.bi-file-earmark-plus
            |加選
          a.nav-link(href='../advanced_course/')
            .sb-nav-link-icon
              i.bi.bi-file-earmark-plus-fill
            |進階加選
          a.nav-link(href='../withdraw/')
            .sb-nav-link-icon
              i.bi.bi-file-earmark-minus
            |退選
          a.nav-link(href='../curriculum/')
            .sb-nav-link-icon
              i.bi.bi-calendar2-check-fill
            |檢視以選修科目
          a.nav-link(href='../change_password/')
            .sb-nav-link-icon
              i.bi.bi-lock
            |更改密碼
          .sb-sidenav-menu-heading 資料查詢
          a.nav-link(href='../course_information/')
            .sb-nav-link-icon
              i.bi.bi-stickies-fill
            |查詢開課資料
          a.nav-link(href='../advanced_course_information/')
            .sb-nav-link-icon
              i.bi.bi-stickies
            |進階開課資料查詢
          .sb-sidenav-menu-heading 問題與表單
          a.nav-link(href='../general_question/')
            .sb-nav-link-icon
              i.bi.bi-question-circle-fill
            |一般問題
          a.nav-link(href='../images/system_operate.docx')
            .sb-nav-link-icon
              i.bi.bi-file-earmark-text-fill
            |系統操作手冊
          a.nav-link(href='../images/ccu_timetable.doc')
            .sb-nav-link-icon
              i.bi.bi-file-earmark-text
            |課表doc檔
          .sb-sidenav-menu-heading 選課輔助
          a.nav-link(href='../course_comment/')
            .sb-nav-link-icon
              i.bi.bi-chat-text-fill
            |課程討論
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 學分已滿
        p
        hr
        .text-center
          div(align='center')
            font(size=4) 已選學分已滿
          p 
          -for(var i=0;i<b.length;i++)
            font(size=4) 科目代碼:
            font(size=4)
              strong #{b[i][0]}&nbsp;
            font(size=4) 班別:
            font(size=4)
              strong #{b[i][1]}&nbsp;#{b[i][2]}
            p
          hr
          if have.length!=0
            font(size=4) 您所選擇的科目(或已選科目)有衝堂情形
            p
          -for(var i=0;i<have.length;i++)
            font(size=4) 
              strong #{have[i][0][4]}
            br
            -for(var j=0;j<have[i].length;j++)
              font(size=4 color='#9E0000') 星期#{have[i][j][0]}第#{have[i][j][1]}節
              font(size=4) 的#{have[i][j][4]}跟
              font(size=4 color='#9E0000') 星期#{hit[i][j][0]}第#{hit[i][j][1]}節
              font(size=4) 的#{hit[i][j][4]}衝堂
              br
            br
          p
          a(href="javascript:post('/next_advanced_course',{choose_department:'"+choose_department+"',query_type:'"+query_type+"',subject:'"+subject+"',teacher:'"+teacher+"',time:'"+time+"',all_department:'"+all_department+"'})") 
            font( color='#054d9b') 上一頁
          
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' crossorigin='anonymous')
script(src='../assets2/js/scripts.js')
script.
  function post(url, params){
    var temp = document.createElement("form");
    temp.action = url;
    temp.method = "post";
    temp.style.display = "none";
    for (var x in params) {
      var opt = document.createElement("textarea");
      opt.name = x;
      opt.value = params[x];
      temp.appendChild(opt);
    }
    document.body.appendChild(temp);
    temp.submit();
    return temp;
  }
