doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  title 國立中正大學  選課系統  課程資訊-#{courses[0].Course_Department}
  link(href='../assets2/css/styles.css', rel='stylesheet')
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js', crossorigin='anonymous')
  link(rel='shortcut icon', href='../assets/ico/favicon.png')
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='../assets/ico/apple-touch-icon-144-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='../assets/ico/apple-touch-icon-114-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='../assets/ico/apple-touch-icon-72-precomposed.png')
  link(rel='apple-touch-icon-precomposed', href='../assets/ico/apple-touch-icon-57-precomposed.png')
  style.
    body{
    background-image: url('../images/ccu_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
  a.navbar-brand(href='../loginSuccess/') 國立中正大學  選課系統
  button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0(href='#')
    i.fas.fa-bars
  // Navbar
  ul.navbar-nav.ml-auto.ml-md-0
    li.nav-item.dropdown
      a#userDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        i.fas.fa-user.fa-fw 
        |#{user.Student_Name}
      .dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
        a.dropdown-item(href='#') 設定
        .dropdown-divider
        a.dropdown-item(href='../logout') 登出
  font(color='white') #{user.Student_ID}
#layoutSidenav
  #layoutSidenav_nav
    nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
      .sb-sidenav-menu
        .nav
          .sb-sidenav-menu-heading 選課系統公告
          a.nav-link(href='../loginSuccess/')
            .sb-nav-link-icon
              i.bi.bi-megaphone
            |系統公告
          .sb-sidenav-menu-heading 選課系統相關
          a.nav-link(href='../additional_selection/')
            .sb-nav-link-icon
              i.bi.bi-file-earmark-plus
            |加選
          a.nav-link(href='../advanced_course/')
            .sb-nav-link-icon
              i.bi.bi-file-earmark-plus-fill
            |進階加選
          a.nav-link(href='../withdraw/')
            .sb-nav-link-icon
              i.bi.bi-file-earmark-minus
            |退選
          a.nav-link(href='../curriculum/')
            .sb-nav-link-icon
              i.bi.bi-calendar2-check-fill
            |檢視以選修科目
          a.nav-link(href='../change_password/')
            .sb-nav-link-icon
              i.bi.bi-lock
            |更改密碼
          .sb-sidenav-menu-heading 資料查詢
          a.nav-link(href='../course_information/')
            .sb-nav-link-icon
              i.bi.bi-stickies-fill
            |查詢開課資料
          a.nav-link(href='../advanced_course_information/')
            .sb-nav-link-icon
              i.bi.bi-stickies
            |進階開課資料查詢
          .sb-sidenav-menu-heading 問題與表單
          a.nav-link(href='../general_question/')
            .sb-nav-link-icon
              i.bi.bi-question-circle-fill
            |一般問題
          a.nav-link(href='../images/system_operate.docx')
            .sb-nav-link-icon
              i.bi.bi-file-earmark-text-fill
            |系統操作手冊
          a.nav-link(href='../images/ccu_timetable.doc')
            .sb-nav-link-icon
              i.bi.bi-file-earmark-text
            |課表doc檔
          .sb-sidenav-menu-heading 選課輔助
          a.nav-link(href='../course_comment/')
            .sb-nav-link-icon
              i.bi.bi-chat-text-fill
            |課程討論
  #layoutSidenav_content
    main
      .container-fluid.text-center
        h1.mt-4
          if co==1
            font(size='16' face='bold') #{courses[0].Course_Department}
          if co==2
            font(size='16' face='bold') #{courses[0].Course_Department}
          if co==3
            font(size='16' face='bold') #{courses[0].Course_Department}
        hr
        form
          table(border=1 width='100%')
            tbody
              if co==1
                tr
                  th(align='CENTER' id='grade' bgcolor="lightblue")
                    font(color='#341A24' size='2') 年級
                  th(align='CENTER' id='course_id' bgcolor="lightblue")
                    font(color='#341A24' size='2') 編號
                  th(align='CENTER' id='course_class' bgcolor="lightblue")
                    font(color='#341A24' size='2') 班別
                  th(align='CENTER' id='subject' bgcolor="lightblue")
                    font(color='#341A24' size='2') 科目名稱
                  th(align='CENTER' id='teacher' bgcolor="lightblue")
                    font(color='#341A24' size='2') 任課教授
                  th(align='CENTER' id='course_hour' bgcolor="lightblue")
                    font(color='#341A24' size='2') 上課時數
                    br 
                    font(color='#341A24' size='2') 正課/實驗實習/書報討論
                  th(align='CENTER' id='credit' bgcolor="lightblue")
                    font(color='#341A24' size='2') 學分
                  th(align='CENTER' id='credit_belong' bgcolor="lightblue")
                    font(color='#341A24' size='2') 選必
                  th(align='CENTER' id='course_time' bgcolor="lightblue")
                    font(color='#341A24' size='2') 上課時間
                  th(align='CENTER' id='classroom' bgcolor="lightblue")
                    font(color='#341A24' size='2') 上課地點
                  th(align='CENTER' id='course_people' bgcolor="lightblue")
                    font(color='#341A24' size='2') 限修人數
                  th(align='CENTER' id='outline' bgcolor="lightblue")
                    font(color='#341A24' size='2') 課程大綱
                  th(align='CENTER' id='other' bgcolor="lightblue")
                    font(color='#341A24' size='2') 備註
                - for(var i=0;i<courses.length;i++)
                  if i%2==0
                    tr(size='2')
                      td(align='CENTER' id='grade')
                        font(size=3) #{courses[i].Course_Grade}
                      td(align='CENTER' id='course_id') 
                        font(size=3) #{courses[i].Course_ID}
                      td(align='CENTER' id='course_class') 
                        font(size=3) #{courses[i].Course_Class}
                      td(align='CENTER' id='subject') 
                        font(size=3) #{courses[i].Course_Name_Chinese}
                      td(align='CENTER' id='teacher') 
                        font(size=3) #{courses[i].Course_Teacher}
                      td(align='CENTER' id='course_hour') 
                        font(size=3) #{courses[i].Course_Allhour}
                        br 
                        font(size=3) #{courses[i].Course_Hour}
                      td(align='CENTER' id='credit') 
                        font(size=3) #{courses[i].Course_Credit}
                      td(align='CENTER' id='credit_belong') 
                        font(size=3) #{courses[i].Course_Category}
                      td(align='CENTER' id='course_time') 
                        font(size=3) #{courses[i].Course_Time}
                      td(align='CENTER' id='classroom') 
                        font(size=3) #{courses[i].Course_Classroom}
                      td(align='CENTER' id='course_people') 
                        font(size=3) #{courses[i].Course_People}
                      td(align='CENTER' id='outline') 
                        a(href=courses[i].Course_Outline)  
                          font(size=3 color='#054d9b') 課程大綱
                      td(align='CENTER' id='other') 
                        -var x = "javascript:post('/course_other',{id:"+courses[i].Course_ID+",class:"+courses[i].Course_Class+",co:"+co+"})"
                        a(href=x) 
                          font(size=3 color='#054d9b') 其他      
                  else if i%2==1
                    tr(size='2' bgcolor='#D6ECF3')
                      td(align='CENTER' id='grade')
                        font(size=3) #{courses[i].Course_Grade}
                      td(align='CENTER' id='course_id') 
                        font(size=3) #{courses[i].Course_ID}
                      td(align='CENTER' id='course_class') 
                        font(size=3) #{courses[i].Course_Class}
                      td(align='CENTER' id='subject') 
                        font(size=3) #{courses[i].Course_Name_Chinese}
                      td(align='CENTER' id='teacher') 
                        font(size=3) #{courses[i].Course_Teacher}
                      td(align='CENTER' id='course_hour') 
                        font(size=3) #{courses[i].Course_Allhour}
                        br 
                        font(size=3) #{courses[i].Course_Hour}
                      td(align='CENTER' id='credit') 
                        font(size=3) #{courses[i].Course_Credit}
                      td(align='CENTER' id='credit_belong') 
                        font(size=3) #{courses[i].Course_Category}
                      td(align='CENTER' id='course_time') 
                        font(size=3) #{courses[i].Course_Time}
                      td(align='CENTER' id='classroom') 
                        font(size=3) #{courses[i].Course_Classroom}
                      td(align='CENTER' id='course_people') 
                        font(size=3) #{courses[i].Course_People}
                      td(align='CENTER' id='outline') 
                        a(href=courses[i].Course_Outline)  
                          font(size=3 color='#054d9b') 課程大綱
                      td(align='CENTER' id='other') 
                        -var x = "javascript:post('/course_other',{id:"+courses[i].Course_ID+",class:"+courses[i].Course_Class+",co:"+co+"})"
                        a(href=x) 
                          font(size=3 color='#054d9b') 其他 
              if co==2
                tr
                  th(align='CENTER' id='grade' bgcolor="lightblue")
                    font(color='#341A24' size='2') 年級
                  th(align='CENTER' id='course_id' bgcolor="lightblue")
                    font(color='#341A24' size='2') 編號
                  th(align='CENTER' id='course_class' bgcolor="lightblue")
                    font(color='#341A24' size='2') 班別
                  th(align='CENTER' id='subject' bgcolor="lightblue")
                    font(color='#341A24' size='2') 科目名稱
                  th(align='CENTER' id='teacher' bgcolor="lightblue")
                    font(color='#341A24' size='2') 任課教授
                  th(align='CENTER' id='course_hour' bgcolor="lightblue")
                    font(color='#341A24' size='2') 上課時數
                    br 
                    font(color='#341A24' size='2') 正課/實驗實習/書報討論
                  th(align='CENTER' id='credit' bgcolor="lightblue")
                    font(color='#341A24' size='2') 學分
                  th(align='CENTER' id='credit_belong' bgcolor="lightblue")
                    font(color='#341A24' size='2') 選必
                  th(align='CENTER' id='course_time' bgcolor="lightblue")
                    font(color='#341A24' size='2') 上課時間
                  th(align='CENTER' id='classroom' bgcolor="lightblue")
                    font(color='#341A24' size='2') 上課地點
                  th(align='CENTER' id='course_people' bgcolor="lightblue")
                    font(color='#341A24' size='2') 限修人數
                  th(align='CENTER' id='course_syllabus' bgcolor="lightblue")
                    font(color='#341A24' size='2') 開課學制
                  th(align='CENTER' id='outline' bgcolor="lightblue")
                    font(color='#341A24' size='2') 課程大綱
                  th(align='CENTER' id='other' bgcolor="lightblue")
                    font(color='#341A24' size='2') 備註
                - for(var i=0;i<courses.length;i++)
                  if i%2==0
                    tr(size='2')
                      td(align='CENTER' id='grade')
                        font(size=3) #{courses[i].Course_Grade}
                      td(align='CENTER' id='course_id') 
                        font(size=3) #{courses[i].Course_ID}
                      td(align='CENTER' id='course_class') 
                        font(size=3) #{courses[i].Course_Class}
                      td(align='CENTER' id='subject') 
                        font(size=3) #{courses[i].Course_Name_Chinese}
                      td(align='CENTER' id='teacher') 
                        font(size=3) #{courses[i].Course_Teacher}
                      td(align='CENTER' id='course_hour') 
                        font(size=3) #{courses[i].Course_Allhour}
                        br 
                        font(size=3) #{courses[i].Course_Hour}
                      td(align='CENTER' id='credit') 
                        font(size=3) #{courses[i].Course_Credit}
                      td(align='CENTER' id='credit_belong') 
                        font(size=3) #{courses[i].Course_Category}
                      td(align='CENTER' id='course_time') 
                        font(size=3) #{courses[i].Course_Time}
                      td(align='CENTER' id='classroom') 
                        font(size=3) #{courses[i].Course_Classroom}
                      td(align='CENTER' id='course_people') 
                        font(size=3) #{courses[i].Course_People}
                      td(align='CENTER' id='course_syllabus') 
                        font(size=3) #{courses[i].Course_Syllabus}
                      td(align='CENTER' id='outline') 
                        a(href=courses[i].Course_Outline) 
                          font(size=3 color='#054d9b') 課程大綱
                      td(align='CENTER' id='other') 
                        -var x = "javascript:post('/course_other',{id:"+courses[i].Course_ID+",class:"+courses[i].Course_Class+",co:"+co+"})"
                        a(href=x) 
                          font(size=3 color='#054d9b') 其他  
                  else if i%2==1
                    tr(size='2' bgcolor='#D6ECF3')
                      td(align='CENTER' id='grade')
                        font(size=3) #{courses[i].Course_Grade}
                      td(align='CENTER' id='course_id') 
                        font(size=3) #{courses[i].Course_ID}
                      td(align='CENTER' id='course_class') 
                        font(size=3) #{courses[i].Course_Class}
                      td(align='CENTER' id='subject') 
                        font(size=3) #{courses[i].Course_Name_Chinese}
                      td(align='CENTER' id='teacher') 
                        font(size=3) #{courses[i].Course_Teacher}
                      td(align='CENTER' id='course_hour') 
                        font(size=3) #{courses[i].Course_Allhour}
                        br 
                        font(size=3) #{courses[i].Course_Hour}
                      td(align='CENTER' id='credit') 
                        font(size=3) #{courses[i].Course_Credit}
                      td(align='CENTER' id='credit_belong') 
                        font(size=3) #{courses[i].Course_Category}
                      td(align='CENTER' id='course_time') 
                        font(size=3) #{courses[i].Course_Time}
                      td(align='CENTER' id='classroom') 
                        font(size=3) #{courses[i].Course_Classroom}
                      td(align='CENTER' id='course_people') 
                        font(size=3) #{courses[i].Course_People}
                      td(align='CENTER' id='course_syllabus') 
                        font(size=3) #{courses[i].Course_Syllabus}
                      td(align='CENTER' id='outline') 
                        a(href=courses[i].Course_Outline) 
                          font(size=3 color='#054d9b') 課程大綱
                      td(align='CENTER' id='other') 
                        -var x = "javascript:post('/course_other',{id:"+courses[i].Course_ID+",class:"+courses[i].Course_Class+",co:"+co+"})"
                        a(href=x) 
                          font(size=3 color='#054d9b') 其他  
              if co==3
                tr
                  th(align='CENTER' id='domain' bgcolor="lightblue")
                    font(color='#341A24' size='2') 領域
                  th(align='CENTER' id='dimension' bgcolor="lightblue")
                    font(color='#341A24' size='2') 向度
                  th(align='CENTER' id='course_id' bgcolor="lightblue")
                    font(color='#341A24' size='2') 編號
                  th(align='CENTER' id='course_class' bgcolor="lightblue")
                    font(color='#341A24' size='2') 班別
                  th(align='CENTER' id='subject' bgcolor="lightblue")
                    font(color='#341A24' size='2') 科目名稱
                  th(align='CENTER' id='teacher' bgcolor="lightblue")
                    font(color='#341A24' size='2') 任課教授
                  th(align='CENTER' id='course_hour' bgcolor="lightblue")
                    font(color='#341A24' size='2') 上課時數
                    br  
                    font(color='#341A24' size='2') 正課/實驗實習/書報討論
                  th(align='CENTER' id='credit' bgcolor="lightblue")
                    font(color='#341A24' size='2') 學分
                  th(align='CENTER' id='credit_belong' bgcolor="lightblue")
                    font(color='#341A24' size='2') 選必
                  th(align='CENTER' id='course_time' bgcolor="lightblue")
                    font(color='#341A24' size='2') 上課時間
                  th(align='CENTER' id='classroom' bgcolor="lightblue")
                    font(color='#341A24' size='2') 上課地點
                  th(align='CENTER' id='course_people' bgcolor="lightblue")
                    font(color='#341A24' size='2') 限修人數
                  th(align='CENTER' id='outline' bgcolor="lightblue")
                    font(color='#341A24' size='2') 課程大綱
                  th(align='CENTER' id='other' bgcolor="lightblue")
                    font(color='#341A24' size='2') 備註
                - for(var i=0;i<courses.length;i++)
                  if i%2==0
                    tr(size='2')
                      td(align='CENTER' id='domain')
                        font(size=3) #{courses[i].Course_Domain}
                      td(align='CENTER' id='dimension')
                        font(size=3) #{courses[i].Course_Dimension}
                      td(align='CENTER' id='course_id') 
                        font(size=3) #{courses[i].Course_ID}
                      td(align='CENTER' id='course_class') 
                        font(size=3) #{courses[i].Course_Class}
                      td(align='CENTER' id='subject') 
                        font(size=3) #{courses[i].Course_Name_Chinese}
                      td(align='CENTER' id='teacher') 
                        font(size=3) #{courses[i].Course_Teacher}
                      td(align='CENTER' id='course_hour') 
                        font(size=3) #{courses[i].Course_Allhour}
                        br 
                        font(size=3) #{courses[i].Course_Hour}
                      td(align='CENTER' id='credit') 
                        font(size=3) #{courses[i].Course_Credit}
                      td(align='CENTER' id='credit_belong') 
                        font(size=3) #{courses[i].Course_Category}
                      td(align='CENTER' id='course_time') 
                        font(size=3) #{courses[i].Course_Time}
                      td(align='CENTER' id='classroom') 
                        font(size=3) #{courses[i].Course_Classroom}
                      td(align='CENTER' id='course_people') 
                        font(size=3) #{courses[i].Course_People}
                      td(align='CENTER' id='outline') 
                        a(href=courses[i].Course_Outline) 
                          font(size=3 color='#054d9b') 課程大綱
                      td(align='CENTER' id='other') 
                        -var x = "javascript:post('/course_other',{id:"+courses[i].Course_ID+",class:"+courses[i].Course_Class+",co:"+co+"})"
                        a(href=x) 
                          font(size=3 color='#054d9b') 其他 
                  else if i%2==1
                    tr(size='2' bgcolor='#D6ECF3')
                      td(align='CENTER' id='domain')
                        font(size=3) #{courses[i].Course_Domain}
                      td(align='CENTER' id='dimension')
                        font(size=3) #{courses[i].Course_Dimension}
                      td(align='CENTER' id='course_id') 
                        font(size=3) #{courses[i].Course_ID}
                      td(align='CENTER' id='course_class') 
                        font(size=3) #{courses[i].Course_Class}
                      td(align='CENTER' id='subject') 
                        font(size=3) #{courses[i].Course_Name_Chinese}
                      td(align='CENTER' id='teacher') 
                        font(size=3) #{courses[i].Course_Teacher}
                      td(align='CENTER' id='course_hour') 
                        font(size=3) #{courses[i].Course_Allhour}
                        br 
                        font(size=3) #{courses[i].Course_Hour}
                      td(align='CENTER' id='credit') 
                        font(size=3) #{courses[i].Course_Credit}
                      td(align='CENTER' id='credit_belong') 
                        font(size=3) #{courses[i].Course_Category}
                      td(align='CENTER' id='course_time') 
                        font(size=3) #{courses[i].Course_Time}
                      td(align='CENTER' id='classroom') 
                        font(size=3) #{courses[i].Course_Classroom}
                      td(align='CENTER' id='course_people') 
                        font(size=3) #{courses[i].Course_People}
                      td(align='CENTER' id='outline') 
                        a(href=courses[i].Course_Outline) 
                          font(size=3 color='#054d9b') 課程大綱
                      td(align='CENTER' id='other') 
                        -var x = "javascript:post('/course_other',{id:"+courses[i].Course_ID+",class:"+courses[i].Course_Class+",co:"+co+"})"
                        a(href=x) 
                          font(size=3 color='#054d9b') 其他
          p 
            a(href="../course_information")
                font( color='#054d9b') 查看其他科系


script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js', crossorigin='anonymous')
script(src='../assets2/js/scripts.js')
script.
  function post(url, params){
    var temp = document.createElement("form");
    temp.action = url;
    temp.method = "post";
    temp.style.display = "none";
    for (var x in params) {
      var opt = document.createElement("textarea");
      opt.name = x;
      opt.value = params[x];
      temp.appendChild(opt);
    }
    document.body.appendChild(temp);
    temp.submit();
    return temp;
  }
